#!/usr/bin/env bash
# rename to config.local to override settings

export PORT=${PORT:-4884}
export BIND_IP=${BIND_IP:-0.0.0.0}
export DEBUG=${DEBUG:-false}

export STORAGE_ENGINE="${STORAGE_ENGINE:-boltdb}"

export CACHE_DIR="${CACHE_DIR:-/data}"
export PUBLIC_HOME="${PUBLIC_HOME:-/public}"

export CRYPT_BLOCK="${CRYPT_BLOCK:-yTVbPPsuijznJ0G05+EgXpoBTuT64FwpHS/X2CThfow=}"
export CRYPT_HASH="${CRYPT_HASH:-uB0qbJMdJZn2E0jdjC8gPnaxEa/tNLDKMtzb956BzaAg8XlqEsPLCNGi0jhTsa/TDwIYQxQIm8CyEcnU9E4bWw==}"

export LDAP_HOST="127.0.0.1"
export LDAP_ADMIN_USER="cn=admin,dc=example,dc=com"
export LDAP_ADMIN_PASS="password"
export LDAP_BASE_DN="dc=example,dc=com"
